body{
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/93da5c27-be66-427c-8b72-5cb39d275279/c9fbccf7-aa73-4c4e-a129-0349c8ef655b/PK-en-20240226-popsignuptwoweeks-perspective_alpha_website_large.jpg);
}
.netflixicon{
    height: 40px;
}

.head{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(255, 255, 255);
}
.form{
    display: flex;
    justify-content: center;
    text-align: center;
}
.input{
    border-radius: 10px;
    padding: 8px;
    width: 250px;
    background-color:#2a2929ee ;
    color: white;
    border: 0px;
}
.in1{
    border-radius: 10px;
    padding: 8px;
    width: 800px;
    background-color: #333333e3;
    color: white;
    border: 0px;
}
.but{
    width: 100px;
    color: white;
    background-color: #e50914;
    border: 0px;
    border-radius: 5px;
    font-size: 15px;
    padding: 5px;

}